<div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
    </div>

    <div class="row">
        <div class="col-sm ml-auto" style="text-align: justify">
            <p class="lead">
               This website was developed to help present the results of my dissertation for my MSc Advanced Computer Science degree at the University of Exeter.
               The full dissertation will be made available for download here upon completion.
                If you have any questions or queries, please email <a href="mailto:contact@rduranddelacre.fr">contact@rduranddelacre.fr</a>.
            </p>
        </div>
    </div>

</div>