<div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Introduction</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
    </div>
    <div class="row">
        <div class="col-sm ml-auto" style="text-align: justify">
            <p class="lead">
                Research aiming to gain insight into the labour market has for the most part relied upon the design and
                exploitation of various arbitrary categories to reflect the different kinds of employment available within
                an area. This project aims to show how Natural Language Processing (NLP) and Machine Learning (ML) techniques
                can be used as additional tools in the study of the employment sector. <br><br> The website presents the results
                of experimentation using two different models on a large dataset (3.3 million) of job adverts.
                The models allowed the classification of adverts into different categories corresponding to employment sectors.
                The jobs were localised into different areas of the UK using the information provided in the adverts. The
                interactive map below shows the resulting spread of jobs offers within the dataset by sector and geographic
                distribution. A more complete explanation of the models can be found below.
            </p>
        </div>
    </div>
</div>