<div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">References</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
        <div class="col-sm ml-auto" style="text-align: justify">
            <p class="lead">
                [1] Blei, David M., Andrew Y. Ng, and Michael I. Jordan. "Latent dirichlet allocation." Journal of machine Learning research 3.Jan (2003): 993-1022.<br>
                [2] Hoffman, Matthew, Francis R. Bach, and David M. Blei. "Online learning for latent dirichlet allocation." advances in neural information processing systems. 2010.<br>
                [3] https://scikit-learn.org/stable/<br>
                [4] Tomas Mikolov et al. “Distributed representations of words and phrases and their com-positionality”.  In:Advances  in  neural  information  processing  systems.  2013,  pp.  3111–3119<br>
                [5] Tomas Mikolov et al. “Efficient estimation of word representations in vector space”. In:arXiv preprint arXiv:1301.3781(2013)<br>
                [6] https://radimrehurek.com/gensim/<br>
            </p>
        </div>
    </div>
</div>